{
    "plugins": [
        [
            "import",
            {
                "libraryName": "@gaodun.com/gtools",
                "libraryDirectory": "dist"
            },
            "gaodun.com/gtools"
        ]
    ]
}